
.container{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    color: azure;
    
}

.digital-clock{
   border-style:dashed;
   border-width: 14px;
   border-radius: 30px;
  

   
}
.time {
    font-size: 30px;
}
.cityName {
    font-size: 14px;
}


footer{
padding: 50px;
text-align: center;
background-color:aliceblue;
  
}
