.container {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 30px;
  color: azure;
}
h1 {
  font-size: 25px;
}

.digital-clock {
  border-style: dashed;
  border-width: 14px;
  border-radius: 30px;
  color: #02e700;
}
.time {
  font-size: 30px;
}
.cityName {
  font-size: 14px;
}

footer {
  padding: 50px;
  text-align: center;
  background-color: aliceblue;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}
